
            body{
              background-color:black;

            }
          .container{
         border:1px solid;
            height:150px;
            width:250px;
            color:black;
            margin-left:50px;
             margin-top: 100px;
             border-radius:50px;
             background-color:white;
               animation: slide4 1.5s ease-in-out;
                  box-shadow: 10px 10px 50px silver;
}

@keyframes slide4 {
  0% {
    transform: translateY(100%);
    color:transparent;
    background-color:transparent;
  }
  100% {
    transform: translateX(0);
  }
      }

          
          .man{
           height: 50px;
           width:100px;
           background-color:#ff00cc;
           border:none; 
           border-radius:50px;
           margin-left:10px;
             margin-top: 15%;
             transition-property: transform;
             transition-duration: 1s;
                       animation: slide4 1.5s ease-in-out;
}

@keyframes slide4 {
  0% {
    transform: translateY(100%);
    color:transparent;
    background-color:transparent;
  }
  100% {
    transform: translateX(0);
  }
      }

          
            .man:hover{
           transform: scale(1.4);
           
            }
              .man:active{
            color:white;
               transform: scale(-1.4);
          }
          .woman{
             height: 50px;
           width:100px;
           background-color:#ff00cc;
           border:none; 
           border-radius:50px;
           margin-left:10px;
            transition-property: transform;
             transition-duration: 1s;
              animation: slide4 1.5s ease-in-out;
}

@keyframes slide4 {
  0% {
    transform: translateY(100%);
    color:transparent;
    background-color:transparent;
  }
  100% {
    transform: translateX(0);
  }
      }


          
          .woman:hover{
              transform: scale(1.4);
          }
          .woman:active{
            color:white;
             transform: scale(-1.4);
          }
